<title>Regression Models</title>

<title>Regression Models</title>

<h1>Regression Models</h1>

In [1]:
import pandas as pd
import numpy as np

from sklearn.linear_model import LinearRegression

### Question 1
Read the HomesSoldHellerup.csv file, using the pandas read_csv method (note that the separator is a semicolon and not a comma, which is the default). How many different values are there for the Type feature? What about Type of Sale?

In [2]:
homes_df = pd.read_csv('HomesSoldHellerup.org.csv', sep=';')

In [3]:
homes_df[ 'Type of Sale'].value_counts()

Alm. Salg    1978
Fam. Salg     109
Andet          52
Auktion        21
Name: Type of Sale, dtype: int64

In [4]:
homes_df[ 'Type'].value_counts()

Lejlighed          1237
Villa               742
Rækkehus            174
Stuehus               3
Erhverv               2
Døgninstitution       2
Name: Type, dtype: int64

In [5]:
homes_df.head()

,Road name,Road Number,Type,m2,Build Year,ZipCode,City,Date of Sale,Type of Sale,Price
0,Tuborgvej,54,Lejlighed,54,1932,2900,Hellerup,20-07-15,Alm. Salg,1700000
1,Tuborgvej,54,Lejlighed,87,1932,2900,Hellerup,12-05-15,Alm. Salg,2815000
2,Tuborgvej,54,Lejlighed,63,1932,2900,Hellerup,29-12-10,Alm. Salg,1575000
3,Tuborgvej,54,Lejlighed,54,1932,2900,Hellerup,10-04-12,Alm. Salg,1340000
4,Tuborgvej,54,Lejlighed,63,1932,2900,Hellerup,04-02-12,Alm. Salg,1435000

## Question 2
Assign to X a dataframe with the single feature, m2, which is the size of the home in square meters. The target value y is Price.

In [6]:
X = homes_df[['m2']]
y = homes_df['Price']

## Question 4
Build a linear regression model to predict price, based on size of the home. Fit the model to X and y, and report the score.

In [7]:
lr = LinearRegression()
lr.fit(X,y)
print("Score: {:.3f}".format(lr.score(X, y)))

Score: 0.305

## Question 5
Add the feature 'Build Year' to X, and build a linear regression model and report the score.

In [8]:
X = homes_df[['m2', 'Build Year']]

lr = LinearRegression()
lr.fit(X,y)
print("Score: {:.3f}".format(lr.score(X, y)))

Score: 0.329

## Question 6
Use get_dummies to add the additional features, 'Type of Sale', and 'Type'. You still want to include m2 and 'Build Year'. Note that get_dummies will only create dummy features for nominal values -- it will ignore numerical features like m2 and 'Build Year'. List the dummy features that were created for the feature 'Type'.

In [9]:
X = pd.get_dummies(homes_df[['m2','Build Year','Type of Sale', 'Type' ]])

In [10]:
X.columns

Index(['m2', 'Build Year', 'Type of Sale_Alm. Salg', 'Type of Sale_Andet',
       'Type of Sale_Auktion', 'Type of Sale_Fam. Salg',
       'Type_Døgninstitution', 'Type_Erhverv', 'Type_Lejlighed',
       'Type_Rækkehus', 'Type_Stuehus', 'Type_Villa'],
      dtype='object')

'Type_Døgninstitution', 'Type_Erhverv', 'Type_Lejlighed',
       'Type_Rækkehus', 'Type_Stuehus', 'Type_Villa'

## Question 7
Fit the Linear Regression model again, and report the score.

In [11]:
lr = LinearRegression()
lr.fit(X,y)
print("Score: {:.3f}".format(lr.score(X, y)))

Score: 0.363

## Question 8
Find out the effect of different features on the price. To do this access <b>coef_</b>, which is an attribute of any linear model. (See <a href=https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html>doc on linear regression</a>, including definition of <b>coef_</b> and other attributes.) Print the value of <b>coef_</b>, which is a list of floats.

In [12]:
coefs = lr.coef_
print(coefs)

[   40959.89519333    18852.56505673  -496300.4103963   1791362.31936397
  1621120.52395575 -2916182.43292341 -4648139.95096618 10697682.81861736
    43977.96287313  -348335.82205067 -5235211.6656652   -509973.34280844]

## Question 9
Now we need to connect the coefficients to the attribute names, which are given by <b>X.columns</b>. Use <b>zip</b> to produce a list of tuples, of the form <attribute_name, coefficient>.  Finally, use <b>sorted</b> to sort the tuples by coefficient value. 

<i>(Hint: with <b>sorted</b> you can use the optional argument <b>key</b> like this: <b>key = lambda e:e[1]</b>. This selects the second element of each tuple as the key to sort on.)</i>

In [13]:
coefs = lr.coef_
sorted_coefs = sorted ((zip(X.columns, coefs)),
                key = lambda e:e[1], reverse=True)

In [14]:
sorted_coefs

[('Type_Erhverv', 10697682.818617364),
 ('Type of Sale_Andet', 1791362.3193639654),
 ('Type of Sale_Auktion', 1621120.523955755),
 ('Type_Lejlighed', 43977.96287313295),
 ('m2', 40959.89519333432),
 ('Build Year', 18852.565056728785),
 ('Type_Rækkehus', -348335.82205066684),
 ('Type of Sale_Alm. Salg', -496300.41039630433),
 ('Type_Villa', -509973.3428084418),
 ('Type of Sale_Fam. Salg', -2916182.4329234143),
 ('Type_Døgninstitution', -4648139.950966184),
 ('Type_Stuehus', -5235211.665665199)]

## Question 10
Try to find the best model you can -- try things like
<ul>
    <li>Add a year of sale feature. You have to extract that from the 'Date of Sale' feature.)</li>
    <li>Add Road Name dummy values. To do this you should probably find the most frequent road names, and create an "other" value for all the infrequent ones.</li>
    <li>Other features? Other model parameters? Other models? ideas?</li>
    
</ul>

Report the best results you get, and explain why you got them.