<title>Regression Models</title>

<title>Regression Models</title>

<h1>Regression Models</h1>

In [3]:
import pandas as pd
import numpy as np

from sklearn.linear_model import LinearRegression

### Question 1
Read the HomesSoldHellerup.csv file, using the pandas read_csv method (note that the separator is a semicolon and not a comma, which is the default). How many different values are there for the Type feature? What about Type of Sale?

In [4]:
df = pd.read_csv('HomesSoldHellerup.csv',';')
df.shape

(2160, 10)

In [5]:
df.drop_duplicates(inplace = True)
df.shape

(2145, 10)

In [100]:
df.sort_values('Build Year', ascending = False).head()

,Road name,Road Number,Type,m2,Build Year,ZipCode,City,Date of Sale,Type of Sale,Price
1207,Kildegårdsvej,67B,Rækkehus,133,2015,2900,Hellerup,13-02-14,Alm. Salg,4995000
1227,Kildegårdsvej,18B,Rækkehus,136,2015,2900,Hellerup,05-05-15,Alm. Salg,5845000
1208,Kildegårdsvej,67A,Rækkehus,144,2015,2900,Hellerup,07-04-14,Alm. Salg,5495000
1209,Kildegårdsvej,65B,Rækkehus,144,2015,2900,Hellerup,20-12-13,Alm. Salg,5595000
1210,Kildegårdsvej,65A,Rækkehus,133,2015,2900,Hellerup,27-01-14,Alm. Salg,4995000

In [7]:
df['Type'].value_counts()

Lejlighed          1222
Villa               742
Rækkehus            174
Stuehus               3
Døgninstitution       2
Erhverv               2
Name: Type, dtype: int64

In [8]:
df['Type of Sale'].value_counts()

Alm. Salg    1967
Fam. Salg     109
Andet          48
Auktion        21
Name: Type of Sale, dtype: int64

## Question 2
Assign to X a dataframe with the single feature, m2, which is the size of the home in square meters. The target value y is Price.

In [9]:
X = df[['m2']]
y = df[['Price']]

## Question 4
Build a linear regression model to predict price, based on size of the home. Fit the model to X and y, and report the score.

In [10]:
l_model = LinearRegression()
l_model.fit(X,y)
print("Accuracy on training set: {:.3f}".format(l_model.score(X, y)))

Accuracy on training set: 0.379

## Question 5
Add the feature 'Build Year' to X, and build a linear regression model and report the score.

In [12]:
X = df[['m2', 'Build Year']]

l_model = LinearRegression()
l_model.fit(X,y)
print("Accuracy on training set: {:.3f}".format(l_model.score(X, y)))

Accuracy on training set: 0.394

## Question 6
Use get_dummies to add the additional features, 'Type of Sale', and 'Type'. You still want to include m2 and 'Build Year'. Note that get_dummies will only create dummy features for nominal values -- it will ignore numerical features like m2 and 'Build Year'. List the dummy features that were created for the feature 'Type'.

In [87]:
data = df[['m2','Build Year', 'Type of Sale', 'Type']]
X = pd.get_dummies(data)
X.head()

,m2,Build Year,Type of Sale_Alm. Salg,Type of Sale_Andet,Type of Sale_Auktion,Type of Sale_Fam. Salg,Type_Døgninstitution,Type_Erhverv,Type_Lejlighed,Type_Rækkehus,Type_Stuehus,Type_Villa
0,54,1932,1,0,0,0,0,0,1,0,0,0
1,87,1932,1,0,0,0,0,0,1,0,0,0
2,63,1932,1,0,0,0,0,0,1,0,0,0
3,54,1932,1,0,0,0,0,0,1,0,0,0
4,63,1932,1,0,0,0,0,0,1,0,0,0

In [92]:
X.columns

Index(['m2', 'Build Year', 'Type of Sale_Alm. Salg', 'Type of Sale_Andet',
       'Type of Sale_Auktion', 'Type of Sale_Fam. Salg',
       'Type_Døgninstitution', 'Type_Erhverv', 'Type_Lejlighed',
       'Type_Rækkehus', 'Type_Stuehus', 'Type_Villa'],
      dtype='object')

In [88]:
filtered = filter(lambda data: 'Type' in data, dummyData)
list(filtered)

['Type of Sale_Alm. Salg',
 'Type of Sale_Andet',
 'Type of Sale_Auktion',
 'Type of Sale_Fam. Salg',
 'Type_Døgninstitution',
 'Type_Erhverv',
 'Type_Lejlighed',
 'Type_Rækkehus',
 'Type_Stuehus',
 'Type_Villa']

## Question 7
Fit the Linear Regression model again, and report the score.

In [89]:
l_model = LinearRegression()
l_model.fit(X,y)
print("Accuracy on training set: {:.3f}".format(l_model.score(X, y)))

Accuracy on training set: 0.426

## Question 8
Find out the effect of different features on the price. To do this access <b>coef_</b>, which is an attribute of any linear model. (See <a href=https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html>doc on linear regression</a>, including definition of <b>coef_</b> and other attributes.) Print the value of <b>coef_</b>, which is a list of floats.

In [90]:
coaf = l_model.coef_
print (coaf)

[[   42293.78448289    13969.05849691   -60187.47785591   546904.10176572
   1982542.70561375 -2469259.32952356 -4981407.8889136  10703033.528919
     78817.17903665  -111142.39054315 -5232459.23993837  -456841.18856055]]

## Question 9
Now we need to connect the coefficients to the attribute names, which are given by <b>X.columns</b>. Use <b>zip</b> to produce a list of tuples, of the form <attribute_name, coefficient>.  Finally, use <b>sorted</b> to sort the tuples by coefficient value. 

<i>(Hint: with <b>sorted</b> you can use the optional argument <b>key</b> like this: <b>key = lambda e:e[1]</b>. This selects the second element of each tuple as the key to sort on.)</i>

In [95]:
zipped = sorted(zip(X.columns,coaf[0]),key = lambda e:e[1], reverse=True)
zipped

[('Type_Erhverv', 10703033.528918996),
 ('Type of Sale_Auktion', 1982542.7056137521),
 ('Type of Sale_Andet', 546904.1017657183),
 ('Type_Lejlighed', 78817.17903665116),
 ('m2', 42293.784482889),
 ('Build Year', 13969.058496905316),
 ('Type of Sale_Alm. Salg', -60187.47785590975),
 ('Type_Rækkehus', -111142.39054314664),
 ('Type_Villa', -456841.1885605481),
 ('Type of Sale_Fam. Salg', -2469259.3295235597),
 ('Type_Døgninstitution', -4981407.888913597),
 ('Type_Stuehus', -5232459.239938369)]

## Question 10
Try to find the best model you can -- try things like
<ul>
    <li>Add a year of sale feature. You have to extract that from the 'Date of Sale' feature.)</li>
    <li>Add Road Name dummy values. To do this you should probably find the most frequent road names, and create an "other" value for all the infrequent ones.</li>
    <li>Other features? Other model parameters? Other models? ideas?</li>
    
</ul>

Report the best results you get, and explain why you got them.

In [185]:
df['Road name'].value_counts()

Tuborgvej             133
Strandvejen           111
Tuborg Havnepark       98
Blidahpark             86
Tranegårdsvej          80
                     ...
Kildegårds Have         1
Lundeborgvej            1
Nerievej                1
Morgenvej               1
Dalsvinget              1
Name: Road name, Length: 179, dtype: int64

In [238]:
# add year of sale feature
data_org = df[['m2','Build Year', 'Type of Sale', 'Type', 'Road name']]
data = data_org.copy()
data['Year of Sale'] = pd.DatetimeIndex(df['Date of Sale']).year
data['Road name'] = data_org['Road name'].apply(lambda x: x if('tuborg' in x.lower()) else 'Other')

data

       m2  Build Year Type of Sale       Type    Road name  Year of Sale
0      54        1932    Alm. Salg  Lejlighed  Tuborgvej            2015
1      87        1932    Alm. Salg  Lejlighed  Tuborgvej            2015
2      63        1932    Alm. Salg  Lejlighed  Tuborgvej            2010
3      54        1932    Alm. Salg  Lejlighed  Tuborgvej            2012
4      63        1932    Alm. Salg  Lejlighed  Tuborgvej            2012
...   ...         ...          ...        ...          ...           ...
2155  163        1900    Alm. Salg      Villa        Other          2015
2156  128        1915    Alm. Salg      Villa        Other          2010
2157  182        1963    Alm. Salg      Villa        Other          2013
2158  202        2007    Alm. Salg      Villa        Other          2012
2159  202        2011    Alm. Salg      Villa        Other          2010

[2145 rows x 6 columns]

In [239]:
data['Road name'].value_counts()

Other                 1852
Tuborgvej              133
Tuborg Havnepark        98
Tuborg Boulevard        29
Tuborg Sundpark         29
Tuborg Parkvej           4
Name: Road name, dtype: int64

In [240]:
# Print Year of sale lates
X = pd.get_dummies(data)
X.head().sort_values('Year of Sale', ascending = False)

,m2,Build Year,Year of Sale,Type of Sale_Alm. Salg,Type of Sale_Andet,Type of Sale_Auktion,Type of Sale_Fam. Salg,Type_Døgninstitution,Type_Erhverv,Type_Lejlighed,Type_Rækkehus,Type_Stuehus,Type_Villa,Road name_Other,Road name_Tuborg Boulevard,Road name_Tuborg Havnepark,Road name_Tuborg Parkvej,Road name_Tuborg Sundpark,Road name_Tuborgvej
0,54,1932,2015,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1
1,87,1932,2015,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1
3,54,1932,2012,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1
4,63,1932,2012,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1
2,63,1932,2010,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1

In [241]:
# predection score / 1 is best 
l_model = LinearRegression()
l_model.fit(X,y)
print("Accuracy on training set: {:.3f}".format(l_model.score(X, y)))

Accuracy on training set: 0.450

In [242]:
# 1 score 0.642 - no extra features
# 2 score 0.427 - Year of sale
# 3 sclre 0.437 - road name
# 3 score 0.450 - contains tuborg